@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  padding: 20px $padding-horizontal;
  display: flex;
  position: relative;

  @media (max-width: $desktop_xsm) {
    justify-content: space-between;
    padding: 20px $padding-horizontal-mobile-init;
    align-items: center;
  }

  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $padding-horizontal-sm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $padding-horizontal-md;
  }

  &__list {
    align-items: center;
    display: flex;

    @media (max-width: $mobile) {
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: -200px;
      gap: 1rem;
      background: $red;
      margin: 0;
      padding: 1rem;
      border-radius: 0 0 0 10px;
      transition: right .5s;

      &--ativo {
        right: 0;
      }
    }
  }

  &__link {
    list-style-type: none;
    padding: 0 20px;

    a {
      color: $dark;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;

      @media (max-width: $mobile) {
        color: $light-grey;
      }

      &:hover {
        color: $dark-grey;
      }
    }
  }
}